body {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
    background-color: black;
}

#root {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
}

.UIComponent {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(199, 199, 199);
    font-family: consolas;
    z-index: 10;
    font-size: 7px;
}

.HasTooltip:hover .TooltipText {
    visibility: visible;
}

/* Tooltip text */
.TooltipText {
    visibility: hidden;
    background-color: rgb(199, 199, 199);
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: inherit;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: consolas;
}

#bottom_panel {
    margin: auto;  
    position: absolute;
    bottom: 0px;
    width: 300px; 
    height: 120px;
    border-top: 1px solid rgb(40, 40, 40);
    border-right: 1px solid rgb(40, 40, 40);
    border-left: 1px solid rgb(40, 40, 40);
    left: 0px;
    right: 0px;
    z-index: 10;
}

.BottomPanelElement {
    margin: auto;  
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: inherit;
}

#ship_stats {
    width: 100%; 
    text-align: center;
}

#side_panel {
    margin: auto;
    position: absolute;
    padding-top: 3px; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50px; 
    height: 100%;
    border-right: 1px solid rgb(40, 40, 40);
    z-index: 30;
}

.SidePanelElement {
    /*margin: auto;*/  
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);/*rgba(180, 180, 256, 0.2);*/
    z-index: inherit;
}

.SidePanelElement:hover {
    background-color: rgba(355, 355, 355, 0.2);
}

#ship_window_button {
   
}

#map_window_button {
   
}

#skills_window_button {
    
}

.SidePanelWindow {
    margin: auto;  
    position: absolute;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    left: 50px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 20;
    font-size: 15px;
}

#ship_window {

}

#map_window {
    
}

#skills_window {
    
}

.WindowHeader {
    margin: auto;  
    top: 0px;
    right: 0px;
    left: 0px;
    height: 7%;
}

.WindowHeaderText {
    color: rgb(199, 199, 199);
    font-size: 25px;
    margin-bottom: 25px;
}

#ship_window_left_section {
    margin: 0px;  
    top: 0px;
    left: 0px;
    height: 100%;
    width: 25%;
}

#ship_window_right_section {
    margin: 0px;  
    top: 0px;
    right: 0px;
    height: 100%;
    width: 75%;
}

/*
    Root container for the navigation table
*/
#navigation_panel {
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px; 
    height: 50%;
    border-left: 1px solid rgb(135, 135, 135);
}

#navigation_panel_title {
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(199, 199, 199);
    font-family: consolas;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 30px;
}

#navigation_panel_table_header {
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(199, 199, 199);
    font-family: consolas;
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    height: 30px;
    display: flex;
}

#navigation_panel_table_header_icon {
    bottom: 0px;
    top: 0px;
    width: 26px;
}

#navigation_panel_table_header_name {
    width: 137px;
    text-align: left;
    vertical-align: middle;
}

#navigation_panel_table_header_distance {
    width: 137px;
    text-align: left;
    vertical-align: middle;
}

#navigation_container {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: inherit;
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.navigation_row {
    color: rgb(199, 199, 199);
    background-color: rgb(0, 0, 0, 0.0);
    font-family: consolas;
    font-size: 15px;
    z-index: inherit;
    display: flex;
    height: 20px;
    padding: 3px;
    width: 294px;
}

.navigation_row:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}

.navigation_row_selected {
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}

.navigation_row_icon {
    bottom: 0px;
    top: 0px;
    width: 20px;
    align-content: center;
    vertical-align: middle;
    padding-right: 3px;
}

.navigation_row_name {
    width: 137px;
    text-align: left;
    vertical-align: middle;
}

.navigation_row_distance {
    width: 134px;
    text-align: left;
    vertical-align: middle;
}

#cargo_panel {
    margin: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px; 
    height: 50%; 
    /*border-top: 1px solid rgb(135, 135, 135); */
    border-left: 1px solid rgb(135, 135, 135);
}

#cargo_panel_title {
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(199, 199, 199);
    font-family: consolas;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 30px;
}

#chat_panel {

}

/*    
    Root container for the chat
*/
#chat_window {
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 450px; 
    height: 250px;
    border: 1px solid rgb(0, 0, 0, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-flow: column;
}

#chat_window:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(40, 40, 40);
}

#chat_window:hover ::-webkit-scrollbar-thumb {
    border: 1px solid rgb(199, 199, 199);
}

/*
    Container that contains all chat messages
*/
#chat_container {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    z-index: inherit;
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.chat_message {
    margin-bottom: 3px;
    color: rgb(199, 199, 199);
    font-family: consolas;
    font-size: 15px;
    z-index: inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

#chat_input {
    position: absolute;
    color: rgb(199, 199, 199);
    font-family: consolas;
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    bottom: 0px;
    width: 100%;
}

.Unselectable {
    khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
} 

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.0);
    border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 132, 90); 
}