body {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
    background-color: black;
}

#root {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
}

.UIComponent {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(195, 145, 120);
    font-family: consolas;
    z-index: 11;
    font-size: 7px;
}

.HasTooltip:hover .TooltipText {
    visibility: visible;
}

/* Tooltip text */
.TooltipText {
    visibility: hidden;
    background-color: rgb(199, 199, 199);
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: inherit;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: consolas;
}

#bottom_panel {
    margin: auto;  
    position: absolute;
    bottom: 0px;
    width: 80%; 
    height: 120px;
    border-top: 1px solid rgb(40, 40, 40);
    border-right: 1px solid rgb(40, 40, 40);
    border-left: 1px solid rgb(40, 40, 40);
    left: 0px;
    right: 0px;
    z-index: 10;
}

.BottomPanelElement {
    margin: auto;  
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: inherit;
}

#ship_stats {
    width: 25%; 
    text-align: center;
}

#side_panel {
    margin: auto;
    padding-top: 3px; 
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50px; 
    height: 100%;
    border-right: 1px solid rgb(40, 40, 40);
}

.SidePanelElement {
    /*margin: auto;*/  
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);/*rgba(180, 180, 256, 0.2);*/
}

.SidePanelElement:hover {
    background-color: rgba(355, 355, 355, 0.2);
}

#ship_window_button {
   
}

#map_window_button {
   
}

#skills_window_button {
    
}

.SidePanelWindow {
    margin: auto;  
    position: absolute;
    left: 50px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}

#ship_window {

}

#map_window {
    
}

#skills_window {
    
}



.Unselectable {
    khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
} 

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(114, 99, 67); 
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 132, 90); 
}