body {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
    background-color: black;
}

#root {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    border: 0;
}

.UIComponent {
    background-color: rgba(0, 0, 0, 0.8);/*rgba(180, 180, 256, 0.2);*/
    color: rgba(195, 145, 120);
    font-family: consolas;
    z-index: 11;
    font-size: 10px;
}

#bottom_panel {
    margin: auto;  
    position: absolute;
    left:0;
    right: 0;
    bottom: 0px;
    height: 13%;
    width: 100%; 
    border-top: 1px solid rgb(40, 40, 40);
}

.Unselectable {
    khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
} 

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(114, 99, 67); 
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 132, 90); 
}